name: E2E Cypress Tests

on:
  workflow_call:
    inputs:
      app:
        required: true
        type: string
#    secrets:
#      CYPRESS_RECORD_KEY:
#        required: true

jobs:
  test-workflow:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Cypress tests
        uses: cypress-io/github-action@v3
        with:
          env: scope=smoke,stage=qa,executionPlatforms=["desktop","mobile"],app=${{ inputs.app }}
          spec: cypress/e2e/clientsites/Results.js
          browser: chrome
          record: true
        env:
          CYPRESS_RECORD_KEY: d2d263b4-fe3e-4943-a781-5c1e7711f6b6

